[Desktop Entry]
Type=Application
Terminal=true
Name=Ankama Launcher Container
Icon=/usr/share/icons/ankama-launcher-container/ankama-launcher-container.svg
Exec=ankama-launcher-container
