[Desktop Entry]
Name=Ankama Launcher Container
Comment=A distrobox container to run the Ankama launcher and games
Icon=/home/deck/.local/share/icons/ankama-launcher-container/ankama-launcher-container.svg
Type=Application
Exec=bash -c 'PATH="$HOME/.local/bin:$HOME/.local/podman/bin:$PATH" && ankama-launcher-container'
Categories=Game
